h1 {
    color: rgb(0, 0, 0);
}
body {
    max-width: 600px;
    margin: auto;
    font-family: sans-serif;
}
article + article {
    margin-top: 3rem;
    padding-top: 2rem;
    border-top: 1px solid #000;
}
article {
    padding-top: 2rem;
}
.bColor {
    background-color: rgb(225, 202, 202);
}